<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.free.coordinatefeature">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_coordinatefeature">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:hasCode="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".CoordinateActivity"
            android:label= "">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>

